<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %}
		<meta charset="utf-8">
		<title>{% block title %}Reid Horuff{% endblock %}</title>

		<!-- for grid layout -->
		<link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">

		<!-- for custom styling -->
		<link href="{{STATIC_URL}}css/style.css" rel="stylesheet">
		{% endblock %}
	</head>

	<body>
	{% block body %}
		<div class="container">
			<div class="row">
				<div class="span12 center">
					<h1 id="my-name"><a href="{% url blog_view_home %}">Reid Horuff</a></h1>
					<div id="main-tabs">
						<a class="foo" href="{% url blog_view_home %}">home</a>
						<a class="foo" href="#">contact</a>
						<a class="foo" href="#">résumé</a>
						<a class="foo" href="#">hire me</a>
					</div>
				</div>
			</div>

			{% block container %}
			<h1>Overwrite Me!</h1>
			{% endblock %}
		</div>
	{% endblock %}
	
	{% block footer %}
	{% endblock %}
	</body>
</html>